[mysqld]
bind-address=0.0.0.0
datadir=/var/lib/mysql
tmpdir=/tmp
basedir=/usr
user=root
pid_file=/var/run/mysqld/mysqld.pid
lc-messages=en_US
lc-messages-dir=/usr/share/mysql
skip-external-locking

[server]
init_file=/etc/mysql/init.sql
